
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Index</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>



<h2>Welcome To Ajax Loader</h2>

<div id="divLoader" style="display:none;">

    <img src="~/Content/ajax-loader.gif" alt="Loader" />

</div>

<input type="submit" id="btnSubmit" value="Submit" />

<script>

   $("#btnSubmit").click(function () {

         $("#divLoader").show();

        $.ajax({

            url: '/Loader/Submit',

            dataType: "json",

            type: "POST",

            contentType: 'application/json; charset=utf-8',

            data: {},

            //async: true,

            //processData: false,

           // cache: false,

            success: function (data) {

                $("#divLoader").hide();

                alert(data);

            },

            error: function (xhr) {

                $("#divLoader").hide();

                alert('error');

            }

        })

    });

</script>