
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Index</h2>

<br />
@using (Html.BeginForm("Upload", "BulkUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="UploadedFile" />
    <br />
    <input type="submit" value="Import to database" class="btn btn-primary" />
}
<br />
<div>
    @ViewBag.Success
</div>